*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.banner{
	background-image: url("../images/1920x665-1.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	color:white;
	.opaco{
		background-color: rgba(2, 14, 23, 0.53);
    	width: 100%;
    	height: 100%;
    	padding: 8% 5%;
    	h1{
    		font-size: 4em;
    		margin-bottom: 10%;
    		}
    	p{
    		margin-bottom: 7%;
    		}
    	.btn{
    		    border-radius: 200px;
    			padding: 1.5% 4%;
    			margin: 0% 1% 5%;
    		}
    	a{
    		display: inline-block;
    		color:white;
    		margin:0% 1%;
    		i{
    			margin-right: 5px;
    		}
    	}
    	p{
    		display:inline-block;
    		margin-right: 5%;
    	}
    	}
	}
.navbar{
	background-color: white;
    border-color: transparent;
    .navbar-brand{
    	padding: 0;
    }
}

button {
	margin-top: 4%;
	margin-right: 30%;
	padding: 1% 5%;
	background-color: #fff;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}
.parrafo {
	padding-bottom: 4%;
	font-weight: normal;
}
h3 {
	padding-bottom: 3%;
}
.bg-pink{
    background-color: rgba(67, 148, 240, 0.7);
    background-attachment: fixed;
}
.hola {
	color: white;
	padding-top: 10%;
	margin-bottom: 4%;
	font-family: sans-serif;
	font-size: 40px;
	padding-right: 55%;
	font-weight: normal;
	font-family: sans-serif;
}
.parrafo1 {
	color: white;
	font-weight: normal;
	margin-bottom: 3%;
	padding-right: 48%;
	padding-left: 7%;
	text-align: left;
	font-size: 15px;

}
.testing {
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.text-white {
	color: #587EB6;
	font-weight: bold;
	font-size: 18px;
	padding-top: 3%;
}
.text{
	color: white;
}
.servicios {
	text-align: center;
	color: #8CC3FF;
	padding-top: 5%;
	padding-bottom: 10%;
}
.logo2 {
	width: 60%;
	margin-left: 10%;
}
.botones {
	margin-right: 2%;
	color: white;
	padding: 1% 2%;
	background-color: #3CB1F7;
	font-weight: normal;
	border-radius: 20px;
}
.botonesbig {
	text-align: left;
	padding-left: 7%;
}
.parrafo2 {
	color: white;
}
.botonesbig p {
	margin-top: 2%;
}
.iconos1 {
	margin-left: 2%;
	margin-bottom: 2%;
}
.ipod {
	width: 89%;
	padding-top: 11%;
	padding-left: 9%;
	padding-bottom: 11%;
}
.optimaze {
	padding-top: 13%;
	padding-right: 8%;
}
.parrafo3 {
	padding-right: 8%;
	padding-top: 3%;
	padding-bottom: 3%;
}
.size {
	padding-bottom: 10%;
}
.btn1 {
	padding: 1% 2%;
	border: 2px solid #3CB1F7;
	border-radius: 10px;
}

.recreate, .recreate1 {
	text-align: center;
}
.recreate {
	padding-bottom: 1%;
	padding-top: 5%;
}
.recreate1 {
	margin-bottom: 4%;
}
.ipod1 {
	width: 80%;
	padding-left: 20%;
	padding-top: 10%;
}
.cuerpo {
	background-color: F5F5F5;
}
.parrafo4 {
   padding-right: 22%;
   padding-bottom: 10%;
   font-size: 12px;
}
.parrafo5 {
	padding-right: 39%;
	padding-bottom: 7%;
	font-size: 12px;
}
.cuerpo1 {
	background-color: #F6F6F6;
}

footer {
	text-align:center;
	padding: 3% 1%;
}

.red-social{
    border:1px solid #42AEEC;
	border-radius:100%;
    width: 40px;
	height:40px;
	display:inline-block;
	margin: 0px 2px 10px;
    padding-top: 9px;
}
.red-social i{
	font-size: 20px;
	color: #42AEEC;
}
.great {
	color: #42AEEC;
}
